---
import Bildreihe from "./Bildreihe.astro"
import DownloadAllDouble from "../Download_all/download_all-double.astro"
---

<div id="pictures"></div>

<section>
    <div class="head_logo">
        <img src="public/headlines/headline-bildsammlung.svg" alt="">
    </div>

    <div class="head-text">
        <h2 class="head-text__heading">Bildsprache</h2>
        <div class="head-text__textBlock">
        
            <p  class="head-text__textBlock--text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae itaque perspiciatis ratione, ea similique illum,
                alias sed eum qui et neque atque obcaecati dicta nemo,
                quia tempore! Maiores, fugiat impedit! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Pariatur veritatis
                nihil mollitia dolores! Quaerat laboriosam quo asperiores
                modi recusandae, commodi ratione facilis officiis unde enim
                maiores architecto sapiente temporibus repellat!
            </p>
            <p  class="head-text__textBlock--text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae itaque perspiciatis ratione, ea similique illum,
                alias sed eum qui et neque atque obcaecati dicta nemo,
                quia tempore! Maiores, fugiat impedit! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Pariatur veritatis
                nihil mollitia dolores! Quaerat laboriosam quo asperiores
                modi recusandae, commodi ratione facilis officiis unde enim
                maiores architecto sapiente temporibus repellat!
            </p>
        </div>
    </div>

    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />

    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />

    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />

    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />

    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />
    
    <Bildreihe
        src1="public/beispiel-bildwelt/beispiel-bild-01.png" 
        title1="beispiel-1"
        src2="public/beispiel-bildwelt/beispiel-bild-02.png" 
        title2="beispiel-2"
        src3="public/beispiel-bildwelt/beispiel-bild-03.png" 
        title3="beispiel-3"
        filename_png1="beispiel-1" 
        filename_png2="beispiel-2"
        filename_png3="beispiel-3"
    />

    <DownloadAllDouble 
        text1="Alle Fotos herunterladen" 
        text2="Andere Fotos anfragen" 
        file_href="public/zip/beispiel-bildwelt.zip"
    />
</section>