.helper-bm2 {
  margin-bottom: $baseunit * 2;
}

.helper-tm2_5 {
  margin-top: $baseunit * 2.5;
  padding: 0 2em;
}

.helper-tm4 {
  margin-top: $baseunit * 4;
}

.bg-gray {
  background-color: $backgroundgray;
}

.placeholder {
  height: 10px;
}

.helper_bp-35 {
  padding-bottom: 35px;
}

.d-none {
  display: none;
}

.sr-only{
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}