<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Fehler</title>
    <link rel="stylesheet" href="src/style/main.scss">
</head>
<body class="body_error">
    <div class="error_page">
        <div class="error_page__text">
            <h1 class="error_page__text--header">404 Hoppala!</h1>
            <h2>Die Seite wurde nicht gefunden</h2>
            <p>Die von Dir gesuchte Seite konnte leider nicht gefunden 
                werden. Das tut uns leid. Prüfe Deine Internet 
                Verbindung und versuche es erneut. </p>
            <p>Gehe zurück zur <a href="../">Startseite</a> und versuchs nochmal.</p>
        </div>
        <img src="public/rakete/rakete-404.svg" alt="">
    </div>
</body>
</html>