---
interface Props {
    downloadLink_png: string;
    downloadLink_svg: string;
    filename_svg: string;
    filename_png: string;

}
const {downloadLink_png, downloadLink_svg, filename_png, filename_svg} = Astro.props;
---
<div class="download_dropdown">
    <img class="download_dropdown__logo" src="/public/buttons/download.svg" alt="">
    <div class="download_dropdown__link">
        <a class="download_dropdown__link--svg" href={downloadLink_svg} download={filename_svg}>Download SVG</a>
        <a class="download_dropdown__link--png" href={downloadLink_png} download={filename_png}>Download PNG</a>
    </div>
</div>