---
import Nav from "@/components/Nav.astro";
---

<nav class="main_nav">
    <div class="nav_wrapper">
        <a href="#home">
            <img class="main_nav__logo" src="public/logos/s_kon_wortbildmarke_rgb_neg.svg" alt="">
        </a>
        <ul class="main_nav__list">
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="#logos">Logo</a>
            </li>
            <li class="main_nav__listitem">
                <a  class="main_nav__listitem--link" href="#typo">Typo</a></li>
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="#colors">Farben</a>
            </li>
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="#icons">Icons</a>
            </li>
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="#pictures">Bildwelt</a>
            </li>
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="#language">Tonalität</a>
            </li>
            <li class="main_nav__listitem">
                <a class="main_nav__listitem--link" href="">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>