<div class="nav_help" id="home"></div>
<section class="hero">
    <img class="hero__rocket" src="public/hero/rakete.svg" aria-hidden="true">
    <div>
        <img class="hero__star hero__star--1" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--2" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--3" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--4" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--5" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--6" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--7" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--8" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--9" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--10" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--11" src="public/hero/stern.svg" alt="">
        <img class="hero__star hero__star--12" src="public/hero/stern.svg" alt="">
    </div>
    <img class="hero__planet" src="public/hero/planet.svg" alt="" aria-hidden="true">
    <img class="hero__text" src="public/hero/s-kon-visual-world-schriftzug.svg" alt="">
</section>
