<section class="placement wrapper">
    <div class="head-text">
        <h2 class="head-text__heading">Plazierung</h2>
        <div class="head-text__textBlock">
            <p class="head-text__textBlock--text">Die Wortmarke wird in die obere rechte Ecke und die Bildmarke
                wird in die untere linke Ecke platziert.  Bei kleinen oder
                schmalen Formaten wird die Wort-Bildmarke platziert.
            </p>
        </div>
    </div>

    <div class="placement__image">
        <img class="placement__image--item" src="public/logo-platzierung/Gruppe 6133.png" alt="">
        <img class="placement__image--item2"src="public/logo-platzierung/Gruppe 6134.png" alt="">
        <img class="placement__image--item3"src="public/logo-platzierung/Gruppe 6135.png" alt="">
        <img class="placement__image--item"src="public/logo-platzierung/Gruppe 6136.png" alt="">
    </div>
</section>