<div id="language"></div>
<section>
    <div class="head_logo">
        <img src="public/headlines/headline-tonalita╠êt.svg" alt="">
    </div>
    <div class="head-text">
        <h2 class="head-text__heading">Tonfall</h2>
        <div class="head-text__textBlock">
        
            <p  class="head-text__textBlock--text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae itaque perspiciatis ratione, ea similique illum,
                alias sed eum qui et neque atque obcaecati dicta nemo,
                quia tempore! Maiores, fugiat impedit! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Pariatur veritatis
                nihil mollitia dolores! Quaerat laboriosam quo asperiores
                modi recusandae, commodi ratione facilis officiis unde enim
                maiores architecto sapiente temporibus repellat!
            </p>
            <p  class="head-text__textBlock--text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Beatae itaque perspiciatis ratione, ea similique illum,
                alias sed eum qui et neque atque obcaecati dicta nemo,
                quia tempore! Maiores, fugiat impedit! Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Pariatur veritatis
                nihil mollitia dolores! Quaerat laboriosam quo asperiores
                modi recusandae, commodi ratione facilis officiis unde enim
                maiores architecto sapiente temporibus repellat!
            </p>
        </div>
    </div>

    <div class="language">
        <figure class="language__item">
            <img class="language__item--img" src="public/tonalita╠êt/01.svg" alt="">
            <figcaption class="language__item--text">
                <p>Dutzen bei Bestandskunden und Arbeitnehmern</p>
            </figcaption>
        </figure>
        <figure class="language__item">
            <img class="language__item--img" src="public/tonalita╠êt/02.svg" alt="">
            <figcaption class="language__item--text">
                <p>Siezen bei Unbekannten und Neukunden</p>
            </figcaption>
        </figure>
        <figure class="language__item">
            <img class="language__item--img" src="public/tonalita╠êt/03.svg" alt="">
            <figcaption class="language__item--text">
                <p>Gendern in Sozialen Medien und Stellenauschreiben</p>
            </figcaption>
        </figure>
        <figure class="language__item">
            <img class="language__item--img" src="public/tonalita╠êt/04.svg" alt="">
            <figcaption class="language__item--text">
                <p>Generisches Maskulinum in Anschreiben für Neukunden</p>
            </figcaption>
        </figure>


    </div>
    <div class="language-example">
        <figure class="language-example__item">
            <img class="language-example__item--img" src="public/schreibweise/schreibweise-richtig.png" alt="">
            <figcaption class="language-example__item--text">
                <p>Zwar wird „S-KON Gruppe“ in unserer Wortmarke „s-kon 
                    Gruppe“ geschrieben, jedoch schreiben wir weiterhin 
                    das „S-KON“ in Versalien.</p>
            </figcaption>
        </figure>
        <figure class="language-example__item">
            <img class="language-example__item--img" src="public/schreibweise/schreibweise-falsch.png" alt="">
            <figcaption class="language-example__item--text">
                <p>Das liegt daran, dass es in unseren eingetragenen 
                    Geschäftsnamen auch in Versalien geschrieben wird.</p>
            </figcaption>
        </figure>    
    </div>
</section>