---
import DownloadDropdown from "@/components/Download_dropdown.astro"


---

<ul class="specialLogo_selection">

    <li>
        <figure class="specialLogo_selection__item">

            <div>
                <img class="specialLogo_selection__item--img" src="public/logos/s_kon_sondermarke_dialog_rgb.svg" alt="">
                <figcaption class="specialLogo_selection__item--text">
                    Direkt Marketing
                </figcaption>
            </div>

            <DownloadDropdown 
                downloadLink_png="" 
                downloadLink_svg="public/logos/s_kon_sondermarke_dialog_rgb.svg" 
                filename_png="S-Kon_Direkt-Marketing-Logo"
                filename_svg="S-Kon_Direkt-Marketing-Logo"
            />
        </figure>
    </li>

    <div class="specialLogo_selection__devider"></div> 

    <li>
        <figure class="specialLogo_selection__item"> 

            <div>
                <img class="specialLogo_selection__item--img" src="public/logos/s_kon_sondermarke_direkt_rgb.svg" alt="">
                <figcaption class="specialLogo_selection__item--text">
                    Consulting
                </figcaption>
            </div>

            <DownloadDropdown
                downloadLink_png="" 
                downloadLink_svg="public/logos/s_kon_sondermarke_direkt_rgb.svg" 
                filename_png="S-Kon_Consulting-Logo"
                filename_svg="S-Kon_Consulting-Logo"
             />
        </figure>
    </li>

    <div class="specialLogo_selection__devider"></div>

    <li>
        <figure class="specialLogo_selection__item"> 

            <div>
                <img class="specialLogo_selection__item--img" src="public/logos/s_kon_sondermarke_ecommerce_rgb.svg" alt="">
                <figcaption class="specialLogo_selection__item--text">
                    Dialog Marketing
                </figcaption>
            </div>

            <DownloadDropdown 
                downloadLink_png="" 
                downloadLink_svg="public/logos/s_kon_sondermarke_ecommerce_rgb.svg"
                filename_png="S-Kon_Dialog_Marketing-Logo"
                filename_svg="S-Kon_Dialog_Marketing-Logo"
            />
        </figure>
    </li>

    <div class="specialLogo_selection__devider"></div>

    <li>
        <figure class="specialLogo_selection__item"> 

            <div>
                <img class="specialLogo_selection__item--img" src="public/logos/s_kon_sondermarke_mobile_outsourcing_rgb.svg" alt="">
                <figcaption class="specialLogo_selection__item--text">
                    eCommerce
                </figcaption>
            </div>
            
            <DownloadDropdown 
                downloadLink_png="" 
                downloadLink_svg="public/logos/s_kon_sondermarke_mobile_outsourcing_rgb.svg"
                filename_png="S-Kon_eCommerce-Logo"
                filename_svg="S-Kon_eCommerce-Logo"
            />
        </figure>
    </li>
</ul>