---
import DownloadAllDouble from '../Download_all/download_all-double.astro';
import Iconsammlung from './Iconsammlung.astro';
import Modal from './Modal.astro'

---
<div id="icons"></div>
<div class="head_logo">
    <img src="public/headlines/headline-iconsammlung.svg" alt="">
</div>

<div class="head-text">
    <h2 class="head-text__heading">Anwendung der Icon</h2>
    <div class="head-text__textBlock">
        <p class="head-text__textBlock__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam consequuntur adipisci aliquam earum natus,
            perspiciatis rerum numquam deserunt corrupti nam eveniet ea perferendis ipsa, ducimus quibusdam harum inventore. Suscipit. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit.
        </p>
        <p class="head-text__textBlock__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae veniam consequuntur adipisci aliquam earum natus,
            perspiciatis rerum numquam deserunt corrupti nam eveniet ea perferendis ipsa, ducimus quibusdam harum inventore. Suscipit. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit.
        </p>
    </div>
</div>

<ul class="iconlist">

    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="1" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="2" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="3" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="4" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="5" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="6" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="7" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="8" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="9" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="10" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="11" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="12" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="13" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="14" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="15" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="16" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="17" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="18" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="19" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="20" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="21" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="22" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="23" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="24" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="25" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="26" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="27" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="28" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="29" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="30" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="31" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="32" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="33" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="34" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="35" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="36" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="37" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="38" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="39" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="40" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="41" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="42" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="43" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="44" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="45" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="46" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="47" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="48" title6="Lager",
        />
    </li>
    <li>
        <Iconsammlung
            src1 ="../../public/icon-sammlung/svg/Rakete/icon-1-anthracite.svg" iconindex1="49" title1="Rakete",
            src2 ="../../public/icon-sammlung/svg/Schiff/icon-2-anthracite.svg" iconindex2="50" title2="Schiff",
            src3 ="../../public/icon-sammlung/svg/Fahrender Lieferwagen/icon-3-anthracite.svg" iconindex3="51" title3="Fahrender Lieferwagen",
            src4 ="../../public/icon-sammlung/svg/Lieferwagen/icon-4-anthracite.svg" iconindex4="52" title4="Lieferwagen",
            src5 ="../../public/icon-sammlung/svg/Haus/icon-5-anthracite.svg" iconindex5="53" title5="Haus",
            src6 ="../../public/icon-sammlung/svg/Lager/icon-6-anthracite.svg" iconindex6="54" title6="Lager",
        />
    </li>
</ul>

<Modal />

<DownloadAllDouble 
    text1="Alle Icons herunterladen" 
    text2="Andere Icons anfragen" 
    file_href=""
/>